In [1]:
# packages
import numpy as np
import pandas as pd

In [2]:
# hide warning messages
import warnings
warnings.filterwarnings("ignore")

In [40]:
path = '../input/returns/daily.parquet'
returns = pd.read_parquet(path)

In [50]:
returns['JJSF']

2005-01-03   -0.011087
2005-01-04   -0.015748
2005-01-05   -0.009142
2005-01-06    0.014980
2005-01-07   -0.031642
                ...
2019-12-24   -0.006926
2019-12-26   -0.000161
2019-12-27    0.000911
2019-12-30   -0.002793
2019-12-31   -0.006437
Name: JJSF, Length: 3773, dtype: float64

In [42]:
path = '../input/returns/daily_rosetta.parquet'
rosetta = pd.read_parquet(path)

In [46]:
rosetta.loc[returns.index]

,EWST,EWSTE,EWSTD,EGAS,BTFG,DPAC,AEPI,JJSF,DGSE,DGC,...,BSFT,CBOE,CYDE,JGBO,MOTR,VLTC,SANW,SCEI,TSLA,CBCL
2005-01-03,-0.033333,NaN,NaN,NaN,-0.031694,-0.155340,0.004746,-0.030390,0.078014,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-04,-0.023988,NaN,NaN,NaN,-0.015946,-0.013793,-0.011471,-0.006100,-0.005592,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-05,0.029186,NaN,NaN,NaN,-0.044776,-0.079254,-0.017065,-0.009101,-0.080384,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-06,-0.028358,NaN,NaN,NaN,-0.046875,0.101266,-0.004167,0.005553,0.007194,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-07,0.005530,NaN,NaN,NaN,-0.021077,-0.045977,-0.002789,-0.008921,0.028571,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.003757,NaN,NaN,...,NaN,0.005664,NaN,NaN,NaN,NaN,-0.013575,NaN,0.014384,NaN
2019-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003071,NaN,NaN,...,NaN,0.000672,NaN,NaN,NaN,NaN,-0.036697,NaN,0.013380,NaN
2019-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002417,NaN,NaN,...,NaN,-0.001764,NaN,NaN,NaN,NaN,-0.057143,NaN,-0.001299,NaN
2019-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.003751,NaN,NaN,...,NaN,0.003450,NaN,NaN,NaN,NaN,0.005051,NaN,-0.036433,NaN
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008928,NaN,NaN,...,NaN,0.006289,NaN,NaN,NaN,NaN,0.055276,NaN,0.008753,NaN

In [14]:
day = '2004'
path = f'../input/factors/{day}.parquet'
factors = pd.read_parquet(path)

In [23]:
factors[factors['COMNAM'].isin(['I D T CORP'])]

,date,COMNAM,TAQ_TICKER,MARKETCAP,pNYSE_size,pNYSE_value,pNYSE_prof,pNYSE_dur,pNYSE_valprof,pNYSE_fscore,...,pNYSE_season,pNYSE_indrrev,pNYSE_indrrevlv,pNYSE_indmomrev,pNYSE_ciss,pNYSE_price,pNYSE_age,pNYSE_shvol,pNYSE_exchsw,pNYSE_ipo
88988,20050103,I D T CORP,IDT,1034215.98,6.0,NaN,NaN,NaN,NaN,1,...,NaN,8.0,8.0,9.0,NaN,3.0,10,7.0,10,1

In [4]:
path = '../input/returns/daily_rosetta.parquet'
rosetta = pd.read_parquet(path)
rosetta

,EWST,EWSTE,EWSTD,EGAS,BTFG,DPAC,AEPI,JJSF,DGSE,DGC,...,BSFT,CBOE,CYDE,JGBO,MOTR,VLTC,SANW,SCEI,TSLA,CBCL
2003-01-02,0.088287,NaN,NaN,NaN,-0.008559,0.051449,-0.005356,-0.013722,0.023474,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.014698
2003-01-03,0.052500,NaN,NaN,NaN,0.008632,0.068229,0.026923,0.005111,-0.004587,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.034953
2003-01-06,-0.019121,NaN,NaN,NaN,-0.009009,0.045161,0.037453,0.005367,-0.078341,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004080
2003-01-07,0.004964,NaN,NaN,NaN,0.000455,-0.021605,-0.043321,-0.026946,0.050000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.017156
2003-01-08,0.006024,NaN,NaN,NaN,0.000000,-0.028391,-0.031698,0.061188,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.038171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001727,NaN,NaN,...,NaN,0.010428,NaN,NaN,NaN,NaN,0.019544,NaN,0.024444,NaN
2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002618,NaN,NaN,...,NaN,0.013580,NaN,NaN,NaN,NaN,-0.041534,NaN,0.002901,NaN
2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.013637,NaN,NaN,...,NaN,-0.017578,NaN,NaN,NaN,NaN,-0.038333,NaN,0.003465,NaN
2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000584,NaN,NaN,...,NaN,0.010473,NaN,NaN,NaN,NaN,-0.001733,NaN,0.043229,NaN
2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007914,NaN,NaN,...,NaN,0.005398,NaN,NaN,NaN,NaN,0.017361,NaN,0.015674,NaN