In [1]:
# packages
import numpy as np
import pandas as pd

In [2]:
# hide warning messages
import warnings
warnings.filterwarnings("ignore")

In [3]:
def read_n10(factor):
    n10_path = f'../../output/data/double_check/{factor}/n10.csv'
    df = pd.read_csv(n10_path, index_col=0)
    df = df.dropna(axis=0, how='all')
    return(df)

## Our Factors

In [4]:
accruals = read_n10('accruals')

In [5]:
age = read_n10('age')

In [6]:
aturnover = read_n10('aturnover')

In [7]:
betaarb = read_n10('betaarb')

In [8]:
cfp = read_n10('cfp')

In [9]:
ciss = read_n10('ciss')

In [10]:
debtiss = read_n10('debtiss')

In [11]:
divg = read_n10('divg')

In [12]:
divp = read_n10('divp')

In [13]:
dur = read_n10('dur')

In [14]:
ep = read_n10('ep')

In [15]:
exchsw = read_n10('exchsw')

In [16]:
fscore = read_n10('fscore')

In [17]:
gltnoa = read_n10('gltnoa')

In [18]:
gmargins = read_n10('gmargins')

In [19]:
growth = read_n10('growth')

In [20]:
igrowth = read_n10('igrowth')

In [21]:
indmom = read_n10('indmom')

In [22]:
indmomrev = read_n10('indmomrev')

In [23]:
indrrev = read_n10('indrrev')

In [24]:
indrrevlv = read_n10('indrrevlv')

In [25]:
inv = read_n10('inv')

In [26]:
invaci = read_n10('invaci')

In [27]:
invcap = read_n10('invcap')

In [28]:
ipo = read_n10('ipo')

In [29]:
ivol = read_n10('ivol')

In [30]:
lev = read_n10('lev')

In [31]:
lrrev = read_n10('lrrev')

In [32]:
mom = read_n10('mom')

In [33]:
mom12 = read_n10('mom12')

In [34]:
momrev = read_n10('momrev')

In [35]:
nissa = read_n10('nissa')

In [36]:
nissm = read_n10('nissm')

In [37]:
noa = read_n10('noa')

In [38]:
price = read_n10('price')

In [39]:
prof = read_n10('prof')

In [40]:
repurch = read_n10('repurch')

In [41]:
roa = read_n10('roa')

In [42]:
roaa = read_n10('roaa')

In [43]:
roe = read_n10('roe')

In [44]:
roea = read_n10('roea')

In [45]:
rome = read_n10('rome')

In [46]:
season = read_n10('season')

In [47]:
sgrowth = read_n10('sgrowth')

In [48]:
shortint = read_n10('shortint')

In [49]:
shvol = read_n10('shvol')

In [50]:
size = read_n10('size')

In [51]:
sp = read_n10('sp')

In [52]:
strev = read_n10('strev')

In [53]:
sue = read_n10('sue')

In [54]:
valmom = read_n10('valmom')

In [55]:
valmomprof = read_n10('valmomprof')

In [56]:
valprof = read_n10('valprof')

In [57]:
value = read_n10('value')

In [58]:
valuem = read_n10('valuem')

## Kozak's Factors

In [59]:
daterange = size.index

In [60]:
def read_n10_kozak(factor):
    kozak_path = f'../../input/kozak/daily/n10_{factor}.csv'
    kozak = pd.read_csv(kozak_path, index_col=0)
    kozak.index = pd.to_datetime(kozak.index)
    kozak = kozak.loc[daterange]
    return(kozak)

In [61]:
kozak_accruals = read_n10_kozak('accruals')

In [62]:
kozak_age = read_n10_kozak('age')

In [63]:
kozak_aturnover = read_n10_kozak('aturnover')

In [64]:
kozak_betaarb = read_n10_kozak('betaarb')

In [65]:
kozak_cfp = read_n10_kozak('cfp')

In [66]:
kozak_ciss = read_n10_kozak('ciss')

In [67]:
kozak_debtiss = read_n10_kozak('debtiss')

In [68]:
kozak_divg = read_n10_kozak('divg')

In [69]:
kozak_divp = read_n10_kozak('divp')

In [70]:
kozak_dur = read_n10_kozak('dur')

In [71]:
kozak_ep = read_n10_kozak('ep')

In [72]:
kozak_exchsw = read_n10_kozak('exchsw')

In [73]:
kozak_fscore = read_n10_kozak('fscore')

In [74]:
kozak_gltnoa = read_n10_kozak('gltnoa')

In [75]:
kozak_gmargins = read_n10_kozak('gmargins')

In [76]:
kozak_growth = read_n10_kozak('growth')

In [77]:
kozak_igrowth = read_n10_kozak('igrowth')

In [78]:
kozak_indmom = read_n10_kozak('indmom')

In [79]:
kozak_indmomrev = read_n10_kozak('indmomrev')

In [80]:
kozak_indrrev = read_n10_kozak('indrrev')

In [81]:
kozak_indrrevlv = read_n10_kozak('indrrevlv')

In [82]:
kozak_inv = read_n10_kozak('inv')

In [83]:
kozak_invaci = read_n10_kozak('invaci')

In [84]:
kozak_invcap = read_n10_kozak('invcap')

In [85]:
kozak_ipo = read_n10_kozak('ipo')

In [86]:
kozak_ivol = read_n10_kozak('ivol')

In [87]:
kozak_lev = read_n10_kozak('lev')

In [88]:
kozak_lrrev = read_n10_kozak('lrrev')

In [89]:
kozak_mom = read_n10_kozak('mom')

In [90]:
kozak_mom12 = read_n10_kozak('mom12')

In [91]:
kozak_momrev = read_n10_kozak('momrev')

In [92]:
kozak_nissa = read_n10_kozak('nissa')

In [93]:
kozak_nissm = read_n10_kozak('nissm')

In [94]:
kozak_noa = read_n10_kozak('noa')

In [95]:
kozak_price = read_n10_kozak('price')

In [96]:
kozak_prof = read_n10_kozak('prof')

In [97]:
kozak_repurch = read_n10_kozak('repurch')

In [98]:
kozak_roa = read_n10_kozak('roa')

In [99]:
kozak_roaa = read_n10_kozak('roaa')

In [100]:
kozak_roe = read_n10_kozak('roe')

In [101]:
kozak_roea = read_n10_kozak('roea')

In [102]:
kozak_rome = read_n10_kozak('rome')

In [103]:
kozak_season = read_n10_kozak('season')

In [104]:
kozak_sgrowth = read_n10_kozak('sgrowth')

In [105]:
kozak_shortint = read_n10_kozak('shortint')

In [106]:
kozak_shvol = read_n10_kozak('shvol')

In [107]:
kozak_size = read_n10_kozak('size')

In [108]:
kozak_sp = read_n10_kozak('sp')

In [109]:
kozak_strev = read_n10_kozak('strev')

In [110]:
kozak_sue = read_n10_kozak('sue')

In [111]:
kozak_valmom = read_n10_kozak('valmom')

In [112]:
kozak_valmomprof = read_n10_kozak('valmomprof')

In [113]:
kozak_valprof = read_n10_kozak('valprof')

In [114]:
kozak_value = read_n10_kozak('value')

In [115]:
kozak_valuem = read_n10_kozak('valuem')

### Difference Rate

In [116]:
def rate(df1, df2):
    df = ((df1.reset_index(drop=True)/df2.reset_index(drop=True)) - 1).abs()
    df.index = df1.index
    return(df)

In [117]:
rate(accruals, kozak_accruals)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.003373,0.010959,0.011952,0.012146,0.018868,0.021834,0.024000,0.012048,0.020408,0.025735
2005-01-04,0.005059,0.019178,0.011952,0.020243,0.023585,0.026201,0.016000,0.020080,0.026239,0.020221
2005-01-05,0.020236,0.010959,0.011952,0.028340,0.004717,0.017467,0.012000,0.020080,0.026239,0.033088
2005-01-06,0.018550,0.024658,0.015936,0.036437,0.033019,0.021834,0.012000,0.020080,0.029155,0.051565
2005-01-07,0.013514,0.035616,0.027888,0.032389,0.033019,0.017467,0.020000,0.024194,0.034985,0.031308
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.004608,0.004739,0.000000,0.005495,0.006289,0.005917,0.000000,0.000000,0.000000
2019-12-26,0.002155,0.004587,0.000000,0.000000,0.000000,0.006289,0.000000,0.000000,0.004464,0.000000
2019-12-27,0.000000,0.004587,0.000000,0.000000,0.000000,0.006289,0.000000,0.000000,0.004464,0.000000
2019-12-30,0.000000,0.004587,0.000000,0.000000,0.000000,0.006289,0.000000,0.000000,0.000000,0.002398
2019-12-31,0.000000,0.004587,0.000000,0.000000,0.005525,0.006289,0.000000,0.000000,0.000000,0.004796

In [118]:
rate(age, kozak_age)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.005682,0.040000,0.021429,0.044944,0.010121,0.035565,0.024470,0.049519,0.033623,0.026432
2005-01-04,0.000000,0.072848,0.035714,0.033708,0.016194,0.046025,0.024470,0.053645,0.033623,0.038123
2005-01-05,0.005682,0.052980,0.028571,0.056180,0.022267,0.050209,0.035889,0.049519,0.047722,0.038123
2005-01-06,0.005682,0.046358,0.047619,0.044944,0.024291,0.048117,0.045677,0.067493,0.046638,0.035191
2005-01-07,0.005682,0.053333,0.047619,0.056180,0.038462,0.056485,0.039216,0.060690,0.046688,0.039589
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.007407,0.006920,0.000000,0.002551,0.009259,0.004292,0.021108,0.017115,0.007194,0.069767
2019-12-26,0.007407,0.006920,0.007576,0.000000,0.006944,0.004292,0.023747,0.017115,0.007194,0.075728
2019-12-27,0.007407,0.010381,0.000000,0.000000,0.002315,0.004292,0.023747,0.019560,0.004796,0.060194
2019-12-30,0.007407,0.006920,0.007576,0.000000,0.004640,0.002146,0.021108,0.014670,0.002404,0.054264
2019-12-31,0.000000,0.006920,0.000000,0.002545,0.004651,0.004292,0.021108,0.014670,0.004808,0.054159

In [119]:
rate(aturnover, kozak_aturnover)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.015238,0.003096,0.003311,0.017007,0.010101,0.016722,0.021053,0.020057,0.016760,0.023256
2005-01-04,0.020952,0.003096,0.006623,0.023810,0.023569,0.003344,0.021053,0.017192,0.013966,0.034884
2005-01-05,0.028571,0.009288,0.003311,0.013605,0.020202,0.006689,0.021053,0.034384,0.025140,0.032558
2005-01-06,0.024762,0.009288,0.009934,0.030612,0.013468,0.023411,0.017544,0.031609,0.041899,0.053488
2005-01-07,0.017143,0.006192,0.019868,0.023891,0.023569,0.033445,0.017544,0.034582,0.044693,0.037209
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.023669,0.000000,0.000000,0.000000,0.000000,0.000000,0.004566,0.000000,0.000000,0.003937
2019-12-26,0.021696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004292,0.000000
2019-12-27,0.021696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004202,0.000000,0.000000
2019-12-30,0.017751,0.004184,0.000000,0.004115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-12-31,0.021696,0.004184,0.000000,0.004115,0.000000,0.000000,0.000000,0.000000,0.004292,0.000000

In [120]:
rate(betaarb, kozak_betaarb)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.001285,0.0,0.003472,0.000000,0.000000,0.007547,0.006993,0.000000,0.017544,0.125475
2005-01-04,0.001285,0.0,0.003472,0.004016,0.003906,0.007547,0.003497,0.009119,0.008772,0.145437
2005-01-05,0.001285,0.0,0.000000,0.000000,0.003906,0.003774,0.003497,0.015198,0.008772,0.158745
2005-01-06,0.001285,0.0,0.000000,0.000000,0.007812,0.007547,0.006993,0.021277,0.032164,0.174120
2005-01-07,0.001285,0.0,0.003472,0.004032,0.000000,0.011321,0.010490,0.015244,0.020468,0.182078
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.009063,0.040373
2019-12-26,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.009063,0.038820
2019-12-27,0.000000,0.0,0.004049,0.000000,0.000000,0.000000,0.000000,0.000000,0.009063,0.031056
2019-12-30,0.000000,0.0,0.000000,0.000000,0.000000,0.003745,0.000000,0.000000,0.009063,0.027950
2019-12-31,0.000000,0.0,0.000000,0.000000,0.000000,0.003745,0.000000,0.000000,0.009063,0.024883

In [121]:
rate(cfp, kozak_cfp)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.025937,0.043147,0.049669,0.039755,0.051724,0.042105,0.037815,0.019920,0.020661,0.045936
2005-01-04,0.028818,0.053299,0.046358,0.042813,0.044828,0.049123,0.058824,0.023904,0.045455,0.056537
2005-01-05,0.038905,0.065990,0.046358,0.048930,0.044828,0.049123,0.054622,0.051793,0.033058,0.045936
2005-01-06,0.046110,0.063452,0.052980,0.058104,0.072414,0.045614,0.067227,0.031873,0.061983,0.031802
2005-01-07,0.036023,0.065990,0.049669,0.067485,0.058621,0.056140,0.067227,0.055777,0.049793,0.063830
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.034301,0.015038,0.008163,0.020161,0.020408,0.004739,0.005102,0.000000,0.011236,0.010526
2019-12-26,0.039578,0.003759,0.016327,0.016129,0.016327,0.004739,0.000000,0.000000,0.016854,0.010526
2019-12-27,0.044855,0.003759,0.004082,0.012097,0.008163,0.009479,0.000000,0.000000,0.011236,0.010526
2019-12-30,0.026385,0.003759,0.008163,0.012097,0.008163,0.004762,0.000000,0.000000,0.011236,0.010582
2019-12-31,0.034301,0.007519,0.000000,0.012097,0.008163,0.004762,0.000000,0.000000,0.011299,0.010582

In [122]:
rate(ciss, kozak_ciss)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.010949,0.010127,0.000000,0.032051,0.020478,0.040373,0.037801,0.047198,0.072464,0.073267
2005-01-04,0.012774,0.010127,0.003289,0.016026,0.023891,0.037267,0.030928,0.044248,0.101449,0.097030
2005-01-05,0.010949,0.017722,0.003289,0.032051,0.044369,0.040373,0.044674,0.053097,0.095652,0.097030
2005-01-06,0.020073,0.010127,0.003289,0.032051,0.040956,0.056075,0.054983,0.061947,0.078261,0.122772
2005-01-07,0.025547,0.012690,0.006579,0.016026,0.034130,0.040498,0.041379,0.073746,0.107558,0.116832
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.001733,0.003257,0.013245,0.017986,0.008969,0.009479,0.005464,0.005319,0.016854,0.040000
2019-12-26,0.001733,0.003257,0.009934,0.017986,0.004464,0.004739,0.016393,0.005319,0.016854,0.045714
2019-12-27,0.001733,0.003257,0.003311,0.010791,0.008929,0.009479,0.005464,0.005319,0.016854,0.040000
2019-12-30,0.003466,0.006536,0.006623,0.010791,0.004464,0.000000,0.010929,0.005319,0.016854,0.040000
2019-12-31,0.005199,0.006536,0.003311,0.003597,0.004464,0.004739,0.005464,0.005348,0.016854,0.040000

In [123]:
rate(debtiss, kozak_debtiss)

                  p1  p2  p3  p4  p5  p6  p7  p8  p9       p10
2005-01-03  0.010468 NaN NaN NaN NaN NaN NaN NaN NaN  0.043894
2005-01-04  0.017080 NaN NaN NaN NaN NaN NaN NaN NaN  0.048832
2005-01-05  0.020386 NaN NaN NaN NaN NaN NaN NaN NaN  0.052725
2005-01-06  0.020937 NaN NaN NaN NaN NaN NaN NaN NaN  0.060531
2005-01-07  0.024269 NaN NaN NaN NaN NaN NaN NaN NaN  0.060928
...              ...  ..  ..  ..  ..  ..  ..  ..  ..       ...
2019-12-24  0.010923 NaN NaN NaN NaN NaN NaN NaN NaN  0.020420
2019-12-26  0.011469 NaN NaN NaN NaN NaN NaN NaN NaN  0.022809
2019-12-27  0.009285 NaN NaN NaN NaN NaN NaN NaN NaN  0.018607
2019-12-30  0.009290 NaN NaN NaN NaN NaN NaN NaN NaN  0.014423
2019-12-31  0.009295 NaN NaN NaN NaN NaN NaN NaN NaN  0.013221

[3773 rows x 10 columns]

In [124]:
rate(divg, kozak_divg)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.096774,0.080292,0.059322,0.035714,0.054545,0.017094,0.037594,0.071006,0.055901,0.048128
2005-01-04,0.072581,0.094891,0.059322,0.035714,0.081818,0.034188,0.060150,0.082840,0.055901,0.042781
2005-01-05,0.064516,0.116788,0.084746,0.062500,0.027273,0.059829,0.022556,0.100592,0.086957,0.074866
2005-01-06,0.112903,0.131387,0.050847,0.044643,0.045455,0.051282,0.060150,0.094675,0.062112,0.080214
2005-01-07,0.129032,0.145985,0.093220,0.044643,0.063636,0.068376,0.045113,0.082840,0.068323,0.112299
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.074380,0.012821,0.007634,0.000000,0.000000,0.000000,0.007812,0.031250,0.006024,0.012346
2019-12-26,0.066116,0.012821,0.015267,0.000000,0.000000,0.000000,0.000000,0.023438,0.006024,0.012346
2019-12-27,0.074380,0.012821,0.000000,0.000000,0.000000,0.000000,0.000000,0.023438,0.006024,0.006173
2019-12-30,0.066116,0.000000,0.007634,0.000000,0.000000,0.000000,0.000000,0.023438,0.006024,0.006211
2019-12-31,0.082645,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023438,0.006024,0.006211

In [125]:
rate(divp, kozak_divp)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.024194,0.008000,0.044118,0.015385,0.070588,0.084337,0.076471,0.085714,0.086331,0.017857
2005-01-04,0.024194,0.016000,0.044118,0.061538,0.052941,0.078313,0.100000,0.080000,0.079137,0.062500
2005-01-05,0.024194,0.016000,0.058824,0.053846,0.100000,0.102410,0.105882,0.045714,0.100719,0.080357
2005-01-06,0.024194,0.000000,0.080882,0.084615,0.076471,0.120482,0.082353,0.080000,0.100719,0.062500
2005-01-07,0.048387,0.024000,0.095588,0.076923,0.094118,0.114458,0.088235,0.097143,0.107914,0.098214
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.007299,0.012987,0.013699,0.014085,0.000000,0.007246,0.000000,0.000000,0.000000,0.112000
2019-12-26,0.007299,0.000000,0.006849,0.014085,0.000000,0.007246,0.000000,0.000000,0.007576,0.112000
2019-12-27,0.000000,0.000000,0.006849,0.000000,0.000000,0.007246,0.000000,0.000000,0.000000,0.112000
2019-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008547,0.000000,0.112903
2019-12-31,0.000000,0.006494,0.000000,0.000000,0.000000,0.000000,0.000000,0.008547,0.000000,0.112903

In [126]:
rate(dur, kozak_dur)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.003831,0.008333,0.00738,0.000000,0.007380,0.004292,0.016393,0.031579,0.021277,0.054496
2005-01-04,0.003831,0.008333,0.00738,0.003802,0.007380,0.000000,0.012295,0.031579,0.029787,0.073569
2005-01-05,0.007663,0.013889,0.01476,0.000000,0.003690,0.004292,0.028689,0.042105,0.021277,0.073569
2005-01-06,0.009579,0.022222,0.01107,0.000000,0.011070,0.017167,0.028689,0.045614,0.042735,0.089918
2005-01-07,0.005747,0.013889,0.01476,0.003802,0.003704,0.017167,0.024590,0.063158,0.055556,0.076503
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.009217,0.005435,0.000000,0.000000
2019-12-26,0.003425,0.000000,0.00000,0.000000,0.000000,0.000000,0.009174,0.005435,0.005155,0.000000
2019-12-27,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.009174,0.005435,0.005155,0.004831
2019-12-30,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.009174,0.000000,0.005181,0.004831
2019-12-31,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.013761,0.005464,0.005181,0.004831

In [127]:
rate(ep, kozak_ep)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.023638,0.030449,0.021930,0.029650,0.030508,0.036304,0.057377,0.058997,0.048544,0.027972
2005-01-04,0.026721,0.038462,0.017544,0.037736,0.027119,0.036304,0.071038,0.064897,0.064725,0.038462
2005-01-05,0.028777,0.043269,0.035088,0.035040,0.040678,0.066007,0.049180,0.064897,0.077670,0.024476
2005-01-06,0.041152,0.051282,0.035088,0.045822,0.054237,0.036304,0.079235,0.073746,0.077670,0.027972
2005-01-07,0.033951,0.027244,0.046053,0.045946,0.061017,0.042904,0.081967,0.065089,0.100324,0.052632
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.004054,0.015584,0.030303,0.008511,0.000000,0.024096,0.012048,0.009836,0.013825,0.000000
2019-12-26,0.006757,0.023377,0.027273,0.004255,0.000000,0.016064,0.008032,0.009836,0.013825,0.004695
2019-12-27,0.005405,0.020779,0.033333,0.008511,0.000000,0.004016,0.008032,0.003279,0.013825,0.000000
2019-12-30,0.005413,0.015584,0.015152,0.004255,0.000000,0.008065,0.008032,0.003279,0.013825,0.000000
2019-12-31,0.004060,0.018229,0.024242,0.000000,0.004348,0.004032,0.008032,0.003279,0.013825,0.000000

In [128]:
rate(exchsw, kozak_exchsw)

                  p1  p2  p3  p4  p5  p6  p7  p8  p9       p10
2005-01-03  0.157895 NaN NaN NaN NaN NaN NaN NaN NaN  0.030649
2005-01-04  0.105263 NaN NaN NaN NaN NaN NaN NaN NaN  0.036341
2005-01-05  0.105263 NaN NaN NaN NaN NaN NaN NaN NaN  0.040355
2005-01-06  0.105263 NaN NaN NaN NaN NaN NaN NaN NaN  0.045013
2005-01-07  0.105263 NaN NaN NaN NaN NaN NaN NaN NaN  0.046531
...              ...  ..  ..  ..  ..  ..  ..  ..  ..       ...
2019-12-24  0.000000 NaN NaN NaN NaN NaN NaN NaN NaN  0.017972
2019-12-26  0.000000 NaN NaN NaN NaN NaN NaN NaN NaN  0.018815
2019-12-27  0.000000 NaN NaN NaN NaN NaN NaN NaN NaN  0.014883
2019-12-30  0.000000 NaN NaN NaN NaN NaN NaN NaN NaN  0.013483
2019-12-31  0.000000 NaN NaN NaN NaN NaN NaN NaN NaN  0.013202

[3773 rows x 10 columns]

In [129]:
rate(fscore, kozak_fscore)

                  p1  p2  p3  p4  p5  p6  p7  p8  p9       p10
2005-01-03  0.040000 NaN NaN NaN NaN NaN NaN NaN NaN  0.015385
2005-01-04  0.047823 NaN NaN NaN NaN NaN NaN NaN NaN  0.018462
2005-01-05  0.052106 NaN NaN NaN NaN NaN NaN NaN NaN  0.022051
2005-01-06  0.060336 NaN NaN NaN NaN NaN NaN NaN NaN  0.021538
2005-01-07  0.056091 NaN NaN NaN NaN NaN NaN NaN NaN  0.031314
...              ...  ..  ..  ..  ..  ..  ..  ..  ..       ...
2019-12-24  0.024628 NaN NaN NaN NaN NaN NaN NaN NaN  0.009889
2019-12-26  0.027707 NaN NaN NaN NaN NaN NaN NaN NaN  0.008035
2019-12-27  0.023089 NaN NaN NaN NaN NaN NaN NaN NaN  0.004944
2019-12-30  0.021561 NaN NaN NaN NaN NaN NaN NaN NaN  0.003708
2019-12-31  0.022074 NaN NaN NaN NaN NaN NaN NaN NaN  0.002472

[3773 rows x 10 columns]

In [130]:
rate(gltnoa, kozak_gltnoa)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.013913,0.027108,0.024221,0.007519,0.038462,0.015444,0.011364,0.011278,0.020649,0.013699
2005-01-04,0.019130,0.015060,0.020761,0.022556,0.042308,0.015444,0.026515,0.015038,0.026549,0.005871
2005-01-05,0.020870,0.015060,0.027682,0.007519,0.053846,0.023166,0.034091,0.018797,0.026549,0.017613
2005-01-06,0.031304,0.030120,0.020833,0.026316,0.038462,0.027027,0.041667,0.033835,0.023599,0.027397
2005-01-07,0.033101,0.039157,0.038194,0.022642,0.053846,0.038610,0.018939,0.018868,0.029499,0.011742
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.002632,0.004000,0.000000,0.004762,0.014634,0.009479,0.040201,0.009524,0.014286,0.000000
2019-12-26,0.002632,0.004000,0.000000,0.004762,0.014634,0.009479,0.035176,0.014286,0.007143,0.004739
2019-12-27,0.002632,0.004000,0.000000,0.004762,0.014634,0.014218,0.040201,0.009524,0.000000,0.002370
2019-12-30,0.000000,0.004000,0.000000,0.004785,0.014634,0.009524,0.035176,0.014286,0.000000,0.000000
2019-12-31,0.000000,0.004000,0.004184,0.004785,0.014634,0.004762,0.040201,0.009569,0.003571,0.000000

In [131]:
rate(gmargins, kozak_gmargins)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.024440,0.015686,0.017857,0.008475,0.020548,0.017182,0.003135,0.034188,0.007194,0.005111
2005-01-04,0.022403,0.039216,0.040179,0.021186,0.017123,0.017182,0.006270,0.017094,0.009592,0.006814
2005-01-05,0.024440,0.023529,0.031250,0.029661,0.027397,0.020619,0.028213,0.022792,0.009592,0.008518
2005-01-06,0.026477,0.031496,0.035714,0.050847,0.030822,0.037801,0.031348,0.028490,0.011990,0.011925
2005-01-07,0.024490,0.031496,0.044643,0.042373,0.037671,0.020619,0.028213,0.034188,0.016827,0.008518
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.006593,0.004975,0.000000,0.000000,0.000000,0.004651,0.000000,0.004016,0.007273,0.018182
2019-12-26,0.004396,0.004975,0.000000,0.005208,0.000000,0.000000,0.000000,0.004016,0.010909,0.013636
2019-12-27,0.002198,0.004975,0.000000,0.005208,0.000000,0.004651,0.000000,0.004016,0.007273,0.015909
2019-12-30,0.002203,0.004975,0.000000,0.005236,0.000000,0.000000,0.000000,0.004016,0.007273,0.011364
2019-12-31,0.002208,0.004975,0.000000,0.005236,0.000000,0.000000,0.004651,0.004016,0.007273,0.015909

In [132]:
rate(growth, kozak_growth)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.009709,0.008621,0.012876,0.009479,0.008969,0.000000,0.007605,0.034783,0.030848,0.023644
2005-01-04,0.005825,0.008621,0.000000,0.000000,0.022422,0.016667,0.015209,0.026087,0.035990,0.033380
2005-01-05,0.013592,0.014368,0.017167,0.014218,0.017937,0.016667,0.030418,0.021739,0.033419,0.027816
2005-01-06,0.011650,0.020115,0.008584,0.009479,0.013453,0.025000,0.038023,0.034783,0.038560,0.047354
2005-01-07,0.007767,0.014368,0.008621,0.014218,0.026906,0.029289,0.022814,0.043478,0.041131,0.041783
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.009804,0.000000,0.010526,0.014085,0.017143,0.005882,0.005464,0.004505,0.002326
2019-12-26,0.000000,0.009804,0.000000,0.000000,0.009390,0.022857,0.011765,0.005464,0.004505,0.004640
2019-12-27,0.002257,0.009804,0.000000,0.000000,0.009390,0.034286,0.000000,0.005464,0.004505,0.002320
2019-12-30,0.002257,0.009804,0.000000,0.000000,0.004695,0.017143,0.000000,0.005495,0.004505,0.002326
2019-12-31,0.006772,0.009804,0.000000,0.000000,0.004717,0.017143,0.000000,0.005495,0.004505,0.004651

In [133]:
rate(igrowth, kozak_igrowth)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.015123,0.017192,0.010753,0.021739,0.004608,0.013274,0.009709,0.012397,0.014535,0.021552
2005-01-04,0.018904,0.020057,0.014337,0.008696,0.013825,0.013274,0.019417,0.016529,0.008721,0.028736
2005-01-05,0.020794,0.020057,0.014337,0.030435,0.013825,0.022124,0.009709,0.004132,0.008721,0.034483
2005-01-06,0.026465,0.037356,0.035842,0.026087,0.000000,0.026549,0.019417,0.020661,0.020349,0.033046
2005-01-07,0.020794,0.031609,0.028674,0.026201,0.018433,0.026667,0.043689,0.008264,0.020349,0.033046
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.002268,0.000000,0.005076,0.005128,0.000000,0.000000,0.005525,0.005714,0.000000,0.004049
2019-12-26,0.002268,0.000000,0.005051,0.000000,0.000000,0.000000,0.005525,0.005714,0.000000,0.002024
2019-12-27,0.006803,0.000000,0.005051,0.000000,0.000000,0.000000,0.005525,0.000000,0.000000,0.002024
2019-12-30,0.002268,0.000000,0.005051,0.000000,0.000000,0.000000,0.005525,0.000000,0.000000,0.000000
2019-12-31,0.002273,0.000000,0.005051,0.000000,0.000000,0.005917,0.005525,0.000000,0.000000,0.002024

In [134]:
rate(indmom, kozak_indmom)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.009449,0.021898,0.005063,0.018519,0.026163,0.077750,0.013550,0.015385,0.013793,0.069307
2005-01-04,0.014173,0.026764,0.002532,0.015432,0.034783,0.090083,0.024390,0.009231,0.034483,0.069307
2005-01-05,0.011024,0.034063,0.010127,0.023148,0.040580,0.097521,0.024390,0.012308,0.027586,0.069307
2005-01-06,0.015748,0.038929,0.017722,0.029321,0.049275,0.107527,0.024390,0.003077,0.031034,0.039604
2005-01-07,0.014173,0.043796,0.015228,0.032407,0.026163,0.108354,0.024457,0.024691,0.037931,0.059406
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.003484,0.007042,0.007246,0.002222,0.002294,0.035294,0.012694,0.000000,0.003367
2019-12-26,0.000000,0.000000,0.000000,0.007246,0.004444,0.000000,0.029412,0.012694,0.000000,0.003367
2019-12-27,0.000000,0.003472,0.000000,0.000000,0.002222,0.000000,0.035294,0.004231,0.005025,0.006734
2019-12-30,0.000000,0.003472,0.000000,0.000000,0.004449,0.000000,0.023529,0.002821,0.000000,0.003367
2019-12-31,0.000000,0.000000,0.000000,0.007299,0.003337,0.000000,0.011765,0.004231,0.000000,0.000000

In [135]:
rate(indmomrev, kozak_indmomrev)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.009804,0.000000,0.008547,0.000000,0.026549,0.027586,0.017857,0.048276,0.033333,0.073864
2005-01-04,0.009804,0.024194,0.025641,0.009434,0.000000,0.062069,0.035714,0.055172,0.033333,0.096045
2005-01-05,0.029412,0.032258,0.000000,0.018868,0.026549,0.048276,0.080357,0.048276,0.060000,0.079096
2005-01-06,0.019608,0.032258,0.017094,0.000000,0.026549,0.041379,0.026786,0.075862,0.060000,0.101695
2005-01-07,0.009804,0.064516,0.051282,0.000000,0.008929,0.048276,0.062500,0.089655,0.053333,0.085227
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.011236,0.000000,0.000000,0.000000,0.008333,0.020270,0.011905,0.037037
2019-12-26,0.000000,0.000000,0.011236,0.000000,0.000000,0.008333,0.000000,0.006757,0.017857,0.030864
2019-12-27,0.000000,0.000000,0.011236,0.000000,0.000000,0.000000,0.016667,0.006757,0.017857,0.024691
2019-12-30,0.000000,0.000000,0.011364,0.000000,0.000000,0.000000,0.000000,0.000000,0.017964,0.012346
2019-12-31,0.000000,0.000000,0.011364,0.000000,0.000000,0.000000,0.008333,0.013514,0.011976,0.012346

In [136]:
rate(indrrev, kozak_indrrev)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.014199,0.013730,0.009375,0.029586,0.032967,0.047887,0.047619,0.044156,0.064854,0.041389
2005-01-04,0.019270,0.022883,0.028125,0.032544,0.030220,0.059155,0.031746,0.059740,0.064854,0.050667
2005-01-05,0.022312,0.013730,0.028125,0.023669,0.038462,0.070423,0.050794,0.062338,0.073222,0.057333
2005-01-06,0.027411,0.027460,0.028125,0.035503,0.052198,0.050704,0.063492,0.067532,0.069038,0.064000
2005-01-07,0.035569,0.029748,0.034375,0.032544,0.035714,0.078873,0.050794,0.070312,0.062762,0.061497
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.002151,0.000000,0.000000,0.004292,0.003846,0.007576,0.000000,0.017291,0.027397,0.000000
2019-12-26,0.000000,0.000000,0.000000,0.000000,0.011538,0.000000,0.000000,0.011527,0.024658,0.005367
2019-12-27,0.000000,0.000000,0.000000,0.004292,0.003846,0.003788,0.000000,0.002882,0.030137,0.000000
2019-12-30,0.000000,0.000000,0.000000,0.004292,0.000000,0.000000,0.003650,0.008671,0.013699,0.003584
2019-12-31,0.000000,0.000000,0.000000,0.004292,0.000000,0.003817,0.000000,0.011561,0.005479,0.001792

In [137]:
rate(indrrevlv, kozak_indrrevlv)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.007752,0.010101,0.025424,0.018182,0.016807,0.024590,0.027027,0.039370,0.038462,0.070352
2005-01-04,0.015504,0.020202,0.016949,0.027273,0.025210,0.065574,0.000000,0.055118,0.032051,0.095000
2005-01-05,0.023256,0.000000,0.042373,0.018182,0.033613,0.081967,0.018018,0.039370,0.051282,0.095000
2005-01-06,0.031008,0.000000,0.016949,0.036364,0.016807,0.032787,0.036036,0.070866,0.044872,0.110000
2005-01-07,0.054264,0.010101,0.033898,0.036364,0.008403,0.098361,0.027027,0.071429,0.038462,0.095477
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.010638,0.000000,0.009009,0.008000,0.008000,0.000000,0.041667,0.024000
2019-12-26,0.000000,0.000000,0.010638,0.009091,0.009009,0.008000,0.000000,0.007752,0.034722,0.024000
2019-12-27,0.000000,0.000000,0.010638,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.016000
2019-12-30,0.000000,0.000000,0.010638,0.000000,0.000000,0.008065,0.000000,0.015504,0.020979,0.008000
2019-12-31,0.000000,0.000000,0.010638,0.000000,0.000000,0.000000,0.008000,0.015504,0.027972,0.000000

In [138]:
rate(inv, kozak_inv)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.011696,0.017422,0.007547,0.012245,0.007874,0.015528,0.009317,0.022843,0.019139,0.027197
2005-01-04,0.008772,0.003484,0.007547,0.016327,0.007874,0.021739,0.015528,0.027919,0.026316,0.035565
2005-01-05,0.014620,0.013937,0.003774,0.024490,0.011811,0.024845,0.009317,0.038071,0.026316,0.033473
2005-01-06,0.029240,0.031359,0.007547,0.020408,0.011811,0.027950,0.024845,0.030457,0.023923,0.052411
2005-01-07,0.020468,0.017483,0.015094,0.028571,0.015748,0.024922,0.027950,0.030457,0.023923,0.044025
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004739,0.000000,0.031884,0.000000
2019-12-26,0.000000,0.000000,0.005464,0.000000,0.000000,0.000000,0.004739,0.003289,0.031884,0.000000
2019-12-27,0.000000,0.000000,0.005464,0.005051,0.000000,0.000000,0.000000,0.000000,0.028986,0.000000
2019-12-30,0.003534,0.000000,0.005464,0.000000,0.000000,0.000000,0.000000,0.000000,0.028986,0.000000
2019-12-31,0.003534,0.000000,0.005464,0.000000,0.000000,0.000000,0.000000,0.000000,0.031884,0.003636

In [139]:
rate(invaci, kozak_invaci)

             p1   p2   p3   p4   p5   p6   p7   p8   p9  p10
2005-01-03  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2005-01-04  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2005-01-05  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2005-01-06  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2005-01-07  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2019-12-24  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-12-26  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-12-27  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-12-30  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2019-12-31  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3773 rows x 10 columns]

In [140]:
rate(invcap, kozak_invcap)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.007833,0.011390,0.012232,0.010000,0.017544,0.008772,0.016949,0.015209,0.016000,0.039894
2005-01-04,0.010444,0.009112,0.003058,0.013333,0.014035,0.017544,0.012712,0.022814,0.020000,0.055851
2005-01-05,0.010444,0.009112,0.012232,0.020000,0.017544,0.030702,0.038136,0.019011,0.020000,0.047872
2005-01-06,0.023499,0.018223,0.015291,0.033333,0.028070,0.021930,0.025424,0.019011,0.020080,0.058511
2005-01-07,0.016971,0.013667,0.006135,0.026667,0.028070,0.030702,0.042373,0.030418,0.016064,0.064000
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.001795,0.000000,0.000000,0.000000,0.004651,0.000000,0.005319,0.000000,0.004444,0.006154
2019-12-26,0.003591,0.000000,0.000000,0.000000,0.000000,0.005435,0.005319,0.000000,0.004444,0.003077
2019-12-27,0.001795,0.000000,0.000000,0.000000,0.004630,0.005435,0.000000,0.000000,0.004444,0.000000
2019-12-30,0.001795,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003086
2019-12-31,0.003591,0.000000,0.000000,0.000000,0.004630,0.000000,0.005319,0.000000,0.004444,0.003096

In [141]:
rate(ipo, kozak_ipo)

                  p1  p2  p3  p4  p5  p6  p7  p8  p9       p10
2005-01-03  0.031760 NaN NaN NaN NaN NaN NaN NaN NaN  0.000000
2005-01-04  0.037782 NaN NaN NaN NaN NaN NaN NaN NaN  0.003584
2005-01-05  0.041583 NaN NaN NaN NaN NaN NaN NaN NaN  0.010753
2005-01-06  0.047182 NaN NaN NaN NaN NaN NaN NaN NaN  0.000000
2005-01-07  0.048344 NaN NaN NaN NaN NaN NaN NaN NaN  0.007168
...              ...  ..  ..  ..  ..  ..  ..  ..  ..       ...
2019-12-24  0.016970 NaN NaN NaN NaN NaN NaN NaN NaN  0.029963
2019-12-26  0.016061 NaN NaN NaN NaN NaN NaN NaN NaN  0.052434
2019-12-27  0.012727 NaN NaN NaN NaN NaN NaN NaN NaN  0.041199
2019-12-30  0.012727 NaN NaN NaN NaN NaN NaN NaN NaN  0.022556
2019-12-31  0.011818 NaN NaN NaN NaN NaN NaN NaN NaN  0.030075

[3773 rows x 10 columns]

In [142]:
rate(ivol, kozak_ivol)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.028524,0.047273,0.049479,0.025352,0.047198,0.056338,0.014134,0.032787,0.020202,0.039604
2005-01-04,0.034010,0.054545,0.039062,0.036620,0.038348,0.059859,0.053004,0.032787,0.015152,0.049505
2005-01-05,0.036204,0.047273,0.052083,0.042254,0.050147,0.066901,0.060071,0.040984,0.040404,0.024752
2005-01-06,0.043359,0.061818,0.062500,0.039437,0.047198,0.070423,0.042403,0.061475,0.020202,0.044554
2005-01-07,0.042308,0.060000,0.065104,0.030986,0.061947,0.091549,0.060071,0.045267,0.030303,0.044554
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.006234,0.006410,0.002688,0.000000,0.006826,0.012397,0.019608,0.026087,0.000000,0.117216
2019-12-26,0.007481,0.004274,0.002688,0.009231,0.010239,0.020661,0.015686,0.021739,0.000000,0.120879
2019-12-27,0.004988,0.004274,0.005376,0.006154,0.010239,0.008264,0.011765,0.021739,0.000000,0.102564
2019-12-30,0.004994,0.002137,0.002688,0.000000,0.010239,0.012397,0.011765,0.017391,0.000000,0.095941
2019-12-31,0.003745,0.000000,0.002688,0.000000,0.006826,0.004132,0.011765,0.017467,0.004219,0.099631

In [143]:
rate(lev, kozak_lev)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.005285,0.007678,0.007426,0.012158,0.025078,0.032609,0.036101,0.024055,0.057072,0.122896
2005-01-04,0.005285,0.013436,0.007426,0.015198,0.021944,0.047101,0.025271,0.034364,0.064516,0.144781
2005-01-05,0.011628,0.003839,0.012376,0.021277,0.025078,0.028986,0.043321,0.041237,0.064516,0.159933
2005-01-06,0.010571,0.017274,0.019802,0.018237,0.047022,0.050725,0.064982,0.037801,0.071960,0.163575
2005-01-07,0.007400,0.011561,0.017327,0.030395,0.034483,0.043478,0.061372,0.051546,0.094527,0.158516
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.022876,0.018450,0.000000,0.010989,0.022059,0.025532,0.019672,0.012136
2019-12-26,0.001776,0.000000,0.019608,0.025830,0.003676,0.007326,0.022059,0.029787,0.013072,0.014563
2019-12-27,0.000000,0.000000,0.016340,0.029520,0.000000,0.007326,0.022059,0.029787,0.013072,0.002427
2019-12-30,0.000000,0.000000,0.016340,0.011070,0.000000,0.003676,0.018382,0.025532,0.013072,0.004866
2019-12-31,0.000000,0.000000,0.016340,0.018450,0.000000,0.003676,0.018382,0.025641,0.016340,0.002433

In [144]:
rate(lrrev, kozak_lrrev)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.025641,0.039326,0.063830,0.059801,0.045113,0.040323,0.039427,0.037931,0.014706,0.018336
2005-01-04,0.036325,0.053371,0.063830,0.049834,0.041353,0.048387,0.032258,0.037931,0.029412,0.021157
2005-01-05,0.042735,0.067416,0.085106,0.073090,0.026316,0.060484,0.035842,0.037931,0.034314,0.016925
2005-01-06,0.068376,0.067416,0.060790,0.079734,0.026316,0.068548,0.046595,0.031034,0.051471,0.018362
2005-01-07,0.051282,0.078652,0.082067,0.056478,0.030189,0.068548,0.053957,0.051724,0.034314,0.024045
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.007937,0.003846,0.012712,0.004926,0.020833,0.026906,0.017857,0.017921,0.002415
2019-12-26,0.000000,0.003968,0.007692,0.012712,0.009852,0.026042,0.022422,0.017857,0.014337,0.002410
2019-12-27,0.000000,0.000000,0.000000,0.012712,0.004926,0.020833,0.022422,0.013393,0.014337,0.000000
2019-12-30,0.000000,0.000000,0.000000,0.008475,0.004926,0.015625,0.026906,0.013453,0.014337,0.000000
2019-12-31,0.000000,0.000000,0.000000,0.008475,0.009852,0.015625,0.022422,0.008969,0.010753,0.000000

In [145]:
rate(mom, kozak_mom)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.026403,0.060302,0.080247,0.054711,0.044510,0.018868,0.027950,0.017065,0.034188,0.004963
2005-01-04,0.036304,0.052764,0.080247,0.066869,0.062315,0.028302,0.040373,0.013652,0.028490,0.002481
2005-01-05,0.041254,0.075377,0.086420,0.069909,0.050445,0.037736,0.037267,0.023891,0.025641,0.007444
2005-01-06,0.037954,0.065327,0.086420,0.079027,0.074184,0.056604,0.037267,0.020478,0.022792,0.012407
2005-01-07,0.039604,0.082915,0.114198,0.079027,0.071217,0.031447,0.046584,0.023891,0.025641,0.014888
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.015810,0.003413,0.025180,0.026316,0.071429,0.011450,0.008368,0.004651,0.006390
2019-12-26,0.000000,0.007905,0.010239,0.014388,0.037594,0.085714,0.007634,0.016736,0.009302,0.000000
2019-12-27,0.003663,0.003953,0.013652,0.010791,0.033835,0.071429,0.003817,0.008368,0.004651,0.000000
2019-12-30,0.000000,0.003953,0.003413,0.007194,0.033835,0.053571,0.000000,0.012552,0.004651,0.000000
2019-12-31,0.000000,0.003953,0.003413,0.010791,0.026316,0.057143,0.003817,0.008368,0.004651,0.000000

In [146]:
rate(mom12, kozak_mom12)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.010288,0.055328,0.064039,0.076503,0.028213,0.035831,0.041791,0.034091,0.033943,0.003817
2005-01-04,0.014403,0.065440,0.076355,0.073770,0.034483,0.058632,0.044776,0.036932,0.028721,0.011450
2005-01-05,0.024691,0.077710,0.071429,0.079235,0.037618,0.058632,0.023881,0.034091,0.031332,0.019084
2005-01-06,0.026749,0.081800,0.081281,0.081967,0.056426,0.042345,0.053731,0.045455,0.041885,0.022901
2005-01-07,0.019567,0.065574,0.096059,0.095628,0.043887,0.065147,0.059701,0.042614,0.041885,0.019157
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.001919,0.005038,0.003135,0.027692,0.015152,0.046377,0.016260,0.003922,0.004098,0.002747
2019-12-26,0.001919,0.005038,0.006270,0.021538,0.018182,0.052174,0.024390,0.003922,0.000000,0.000000
2019-12-27,0.000000,0.000000,0.006270,0.018462,0.012121,0.046377,0.016260,0.003922,0.000000,0.000000
2019-12-30,0.000000,0.000000,0.000000,0.018462,0.009091,0.031884,0.020325,0.003922,0.000000,0.000000
2019-12-31,0.000000,0.000000,0.000000,0.012308,0.015152,0.037681,0.016260,0.003922,0.000000,0.002747

In [147]:
rate(momrev, kozak_momrev)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.005695,0.030364,0.028369,0.053708,0.058355,0.047486,0.036789,0.065476,0.031469,0.023207
2005-01-04,0.007973,0.042510,0.047170,0.061381,0.063660,0.044693,0.043478,0.044643,0.059441,0.023207
2005-01-05,0.013667,0.032389,0.063679,0.069054,0.079576,0.055866,0.040134,0.047619,0.038462,0.029536
2005-01-06,0.014806,0.052632,0.075472,0.069054,0.074271,0.072626,0.040134,0.062500,0.045455,0.031712
2005-01-07,0.018244,0.042596,0.061466,0.074169,0.076923,0.058659,0.040134,0.071642,0.059441,0.033827
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.004167,0.027344,0.022901,0.034161,0.009434,0.015152,0.005797,0.000000,0.000000
2019-12-26,0.000000,0.004167,0.023438,0.022901,0.037267,0.012579,0.007576,0.011594,0.000000,0.000000
2019-12-27,0.000000,0.004167,0.019531,0.015267,0.031056,0.009434,0.011364,0.008696,0.003413,0.000000
2019-12-30,0.000000,0.004167,0.019685,0.019084,0.024845,0.003145,0.003788,0.005797,0.000000,0.002075
2019-12-31,0.000000,0.004167,0.019685,0.015267,0.034161,0.006289,0.003802,0.002899,0.000000,0.002075

In [148]:
rate(nissa, kozak_nissa)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.008739,0.017606,0.007092,0.013587,0.025510,0.037135,0.048159,0.099537,0.077160,0.044521
2005-01-04,0.013733,0.024648,0.014184,0.029891,0.012755,0.055703,0.045326,0.094688,0.070988,0.075342
2005-01-05,0.014981,0.015845,0.021277,0.038043,0.030612,0.042440,0.056657,0.106236,0.095679,0.054795
2005-01-06,0.008739,0.017606,0.018913,0.038043,0.033163,0.066489,0.076487,0.131640,0.083333,0.092466
2005-01-07,0.018727,0.017637,0.023641,0.046322,0.035714,0.058511,0.067989,0.127610,0.077160,0.068493
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.004016,0.002558,0.002950,0.012780,0.011070,0.042683,0.004167,0.009901,0.014286,0.013393
2019-12-26,0.004016,0.005115,0.002941,0.015974,0.007380,0.042683,0.004167,0.004950,0.019048,0.022321
2019-12-27,0.004016,0.002558,0.002941,0.009585,0.007380,0.036585,0.000000,0.004950,0.009524,0.026786
2019-12-30,0.005362,0.002558,0.002941,0.009585,0.003704,0.024390,0.004167,0.004950,0.009524,0.013453
2019-12-31,0.005362,0.005115,0.002941,0.006390,0.007407,0.021407,0.000000,0.004950,0.009524,0.017937

In [149]:
rate(nissm, kozak_nissm)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.012953,0.016698,0.008282,0.022573,0.015957,0.032258,0.064198,0.093878,0.059233,0.039855
2005-01-04,0.022021,0.012987,0.020704,0.038375,0.021277,0.043011,0.059259,0.081466,0.066202,0.061594
2005-01-05,0.022021,0.025974,0.026915,0.040632,0.026596,0.024194,0.069136,0.097760,0.073171,0.047101
2005-01-06,0.012953,0.016698,0.031056,0.045147,0.029255,0.056452,0.081683,0.126273,0.094077,0.050725
2005-01-07,0.020725,0.016729,0.039337,0.036117,0.037234,0.048387,0.086849,0.118367,0.055944,0.068841
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.006868,0.000000,0.005682,0.003509,0.010274,0.052805,0.018182,0.013453,0.004444,0.023810
2019-12-26,0.009615,0.000000,0.005682,0.007018,0.006849,0.066007,0.007273,0.008969,0.004444,0.019048
2019-12-27,0.006868,0.000000,0.002841,0.003509,0.003425,0.046205,0.010909,0.013453,0.004444,0.028571
2019-12-30,0.008253,0.000000,0.002841,0.003521,0.003425,0.042904,0.003636,0.004505,0.004444,0.014286
2019-12-31,0.008253,0.000000,0.002841,0.003534,0.003425,0.029703,0.007273,0.009009,0.004444,0.028571

In [150]:
rate(noa, kozak_noa)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.018315,0.027778,0.012931,0.026906,0.008734,0.008734,0.027397,0.011858,0.020588,0.012516
2005-01-04,0.007326,0.031746,0.017241,0.017937,0.021834,0.013100,0.045662,0.003953,0.014706,0.021277
2005-01-05,0.018315,0.023810,0.021552,0.040359,0.017467,0.017467,0.036530,0.011858,0.020588,0.021277
2005-01-06,0.021978,0.027778,0.034483,0.022422,0.043668,0.030568,0.063927,0.015873,0.017647,0.030038
2005-01-07,0.010989,0.035857,0.025974,0.022422,0.048035,0.034934,0.050228,0.011905,0.029412,0.025031
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.030189,0.000000,0.005025,0.005780,0.005814,0.000000,0.004545,0.000000,0.004292,0.001443
2019-12-26,0.033962,0.000000,0.000000,0.000000,0.000000,0.000000,0.004545,0.004762,0.004292,0.002886
2019-12-27,0.033962,0.005025,0.000000,0.000000,0.000000,0.000000,0.004545,0.000000,0.000000,0.004329
2019-12-30,0.037736,0.000000,0.000000,0.000000,0.000000,0.000000,0.004545,0.000000,0.000000,0.000000
2019-12-31,0.041509,0.000000,0.000000,0.000000,0.000000,0.000000,0.004545,0.000000,0.004292,0.001443

In [151]:
rate(price, kozak_price)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.029201,0.048940,0.049676,0.055024,0.043077,0.026578,0.024648,0.011450,0.000000,0.005025
2005-01-04,0.037522,0.052202,0.062635,0.047847,0.052308,0.036545,0.024648,0.011450,0.004831,0.005025
2005-01-05,0.039309,0.073409,0.066955,0.043062,0.070769,0.029900,0.021127,0.003817,0.004831,0.010050
2005-01-06,0.047080,0.055465,0.075594,0.057416,0.073846,0.043189,0.024648,0.022901,0.004831,0.010050
2005-01-07,0.048358,0.050571,0.095032,0.059809,0.064615,0.049834,0.028169,0.022989,0.000000,0.010050
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.004556,0.096154,0.027460,0.008982,0.003175,0.000000,0.000000,0.004695,0.000000,0.000000
2019-12-26,0.005695,0.100962,0.027460,0.017964,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-12-27,0.004556,0.088942,0.020595,0.011976,0.003175,0.000000,0.000000,0.000000,0.000000,0.000000
2019-12-30,0.004561,0.081731,0.018349,0.005988,0.003175,0.000000,0.000000,0.000000,0.000000,0.000000
2019-12-31,0.004566,0.069712,0.025229,0.002994,0.006349,0.000000,0.000000,0.000000,0.000000,0.000000

In [152]:
rate(prof, kozak_prof)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.015385,0.019139,0.017857,0.000000,0.011152,0.009524,0.018018,0.014634,0.018223,0.018672
2005-01-04,0.026923,0.043062,0.003571,0.007663,0.026022,0.009524,0.024024,0.019512,0.011390,0.014523
2005-01-05,0.030769,0.047847,0.003571,0.007663,0.007435,0.015873,0.021021,0.021951,0.025057,0.022822
2005-01-06,0.026923,0.043062,0.017857,0.007692,0.011152,0.031746,0.033033,0.031707,0.025057,0.037344
2005-01-07,0.030769,0.033493,0.028674,0.011538,0.022305,0.034921,0.045045,0.029268,0.022831,0.020747
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.035398,0.000000,0.005988,0.000000,0.000000,0.000000,0.000000,0.003497,0.003623,0.000000
2019-12-26,0.029499,0.006211,0.005988,0.000000,0.000000,0.000000,0.000000,0.000000,0.003623,0.000000
2019-12-27,0.032448,0.000000,0.005988,0.000000,0.000000,0.000000,0.000000,0.000000,0.003623,0.000000
2019-12-30,0.023669,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2019-12-31,0.029586,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003436

In [153]:
rate(repurch, kozak_repurch)

                  p1  p2  p3  p4  p5  p6  p7  p8  p9       p10
2005-01-03  0.037983 NaN NaN NaN NaN NaN NaN NaN NaN  0.014706
2005-01-04  0.043262 NaN NaN NaN NaN NaN NaN NaN NaN  0.021008
2005-01-05  0.047930 NaN NaN NaN NaN NaN NaN NaN NaN  0.022409
2005-01-06  0.051993 NaN NaN NaN NaN NaN NaN NaN NaN  0.029412
2005-01-07  0.052057 NaN NaN NaN NaN NaN NaN NaN NaN  0.034314
...              ...  ..  ..  ..  ..  ..  ..  ..  ..       ...
2019-12-24  0.027292 NaN NaN NaN NaN NaN NaN NaN NaN  0.007257
2019-12-26  0.031491 NaN NaN NaN NaN NaN NaN NaN NaN  0.006770
2019-12-27  0.024493 NaN NaN NaN NaN NaN NaN NaN NaN  0.006286
2019-12-30  0.021709 NaN NaN NaN NaN NaN NaN NaN NaN  0.004840
2019-12-31  0.019622 NaN NaN NaN NaN NaN NaN NaN NaN  0.005324

[3773 rows x 10 columns]

In [154]:
rate(roa, kozak_roa)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.022578,0.104247,0.074783,0.013889,0.017986,0.017241,0.000000,0.011429,0.009317,0.013129
2005-01-04,0.030103,0.135135,0.074783,0.024306,0.010791,0.020690,0.000000,0.017143,0.006211,0.006565
2005-01-05,0.028222,0.150579,0.085217,0.027778,0.017986,0.010345,0.013378,0.008571,0.006211,0.017505
2005-01-06,0.031985,0.142857,0.099130,0.031250,0.025271,0.013793,0.013378,0.014286,0.012422,0.024070
2005-01-07,0.031073,0.154440,0.093913,0.055556,0.032491,0.020690,0.010033,0.022923,0.009317,0.013129
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.004592,0.006711,0.040000,0.039801,0.018692,0.024876,0.004525,0.009852,0.000000,0.003175
2019-12-26,0.004592,0.006711,0.034286,0.057214,0.018692,0.029851,0.004525,0.009852,0.000000,0.003175
2019-12-27,0.004592,0.003356,0.031429,0.042289,0.018692,0.024876,0.004525,0.009852,0.000000,0.000000
2019-12-30,0.003444,0.003367,0.031429,0.032338,0.014085,0.024876,0.004545,0.009852,0.000000,0.003175
2019-12-31,0.004598,0.000000,0.025714,0.029851,0.018779,0.019900,0.004545,0.014778,0.000000,0.000000

In [155]:
rate(roaa, kozak_roaa)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.023585,0.070064,0.107563,0.021672,0.018182,0.007752,0.003367,0.006711,0.006289,0.011876
2005-01-04,0.024528,0.091295,0.107563,0.034056,0.025455,0.011628,0.006734,0.006711,0.012579,0.016627
2005-01-05,0.020755,0.123142,0.114286,0.034056,0.014545,0.015504,0.010101,0.016779,0.012579,0.014252
2005-01-06,0.036827,0.112527,0.141176,0.021672,0.032727,0.019380,0.013468,0.003356,0.015723,0.023753
2005-01-07,0.030217,0.093418,0.132773,0.049689,0.032727,0.042636,0.023569,0.006734,0.022013,0.023810
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.019108,0.038544,0.000000,0.028846,0.021834,0.004785,0.004739,0.000000,0.003322
2019-12-26,0.000000,0.028662,0.034261,0.003861,0.019231,0.021834,0.004785,0.004739,0.000000,0.003322
2019-12-27,0.001274,0.022293,0.029979,0.003861,0.019231,0.021834,0.004785,0.000000,0.000000,0.003322
2019-12-30,0.001274,0.025559,0.014989,0.000000,0.019324,0.021834,0.004785,0.000000,0.000000,0.003322
2019-12-31,0.001274,0.022436,0.023555,0.000000,0.019324,0.017467,0.004785,0.000000,0.000000,0.003322

In [156]:
rate(roe, kozak_roe)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.022863,0.040816,0.069284,0.052369,0.050378,0.034056,0.030303,0.012698,0.003175,0.012618
2005-01-04,0.032803,0.067347,0.057737,0.059850,0.052897,0.040248,0.027778,0.019048,0.003175,0.012618
2005-01-05,0.032803,0.069388,0.071594,0.054863,0.060453,0.046440,0.040404,0.028571,0.006349,0.012618
2005-01-06,0.031809,0.073469,0.071594,0.069825,0.080605,0.046440,0.040404,0.019048,0.031746,0.012658
2005-01-07,0.031841,0.069530,0.092379,0.089776,0.070707,0.055728,0.047980,0.028571,0.000000,0.012658
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.003963,0.016447,0.073529,0.026923,0.020134,0.003745,0.010601,0.004348,0.000000,0.004587
2019-12-26,0.003963,0.013158,0.079412,0.042308,0.020134,0.003745,0.014134,0.004348,0.000000,0.004587
2019-12-27,0.002642,0.009868,0.070588,0.034615,0.013423,0.003745,0.010601,0.004348,0.000000,0.000000
2019-12-30,0.003963,0.009901,0.055882,0.030888,0.016779,0.003745,0.007067,0.004348,0.000000,0.004608
2019-12-31,0.003968,0.006601,0.052941,0.030888,0.013423,0.007491,0.007067,0.004348,0.000000,0.000000

In [157]:
rate(roea, kozak_roea)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.021134,0.042222,0.053476,0.066860,0.038889,0.040346,0.046070,0.014577,0.009740,0.020761
2005-01-04,0.024976,0.053333,0.053476,0.069767,0.063889,0.046110,0.046070,0.023324,0.012987,0.017301
2005-01-05,0.025937,0.062222,0.088235,0.061047,0.041667,0.063401,0.048780,0.029155,0.016234,0.017301
2005-01-06,0.038462,0.071111,0.072193,0.098837,0.047222,0.066282,0.046070,0.029155,0.016234,0.034602
2005-01-07,0.029808,0.048889,0.088472,0.107558,0.055710,0.066282,0.065041,0.032070,0.016234,0.024306
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.001225,0.033639,0.031802,0.033708,0.013201,0.006993,0.004525,0.000000,0.004673,0.005051
2019-12-26,0.002448,0.045872,0.024735,0.022472,0.019802,0.006993,0.004525,0.000000,0.004673,0.005051
2019-12-27,0.001224,0.039755,0.031802,0.018727,0.009901,0.003497,0.004525,0.000000,0.004673,0.005051
2019-12-30,0.002451,0.030581,0.017668,0.018797,0.009901,0.003497,0.004525,0.000000,0.004673,0.005051
2019-12-31,0.002451,0.036810,0.021201,0.015038,0.009901,0.003497,0.004525,0.000000,0.004673,0.005051

In [158]:
rate(rome, kozak_rome)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.022835,0.036778,0.029289,0.054795,0.042135,0.034392,0.035264,0.059233,0.025830,0.020290
2005-01-04,0.033302,0.045534,0.037657,0.041096,0.039326,0.044974,0.047859,0.059233,0.029520,0.020290
2005-01-05,0.033302,0.052539,0.039749,0.049315,0.042135,0.044974,0.070529,0.038328,0.047970,0.020290
2005-01-06,0.033302,0.059545,0.029289,0.060274,0.047753,0.047619,0.068010,0.073171,0.051661,0.034884
2005-01-07,0.032381,0.061296,0.041929,0.054795,0.058989,0.058201,0.068010,0.073171,0.070111,0.017493
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.008415,0.006383,0.069486,0.017422,0.004132,0.008734,0.012500,0.016447,0.014085,0.004065
2019-12-26,0.008415,0.004255,0.084592,0.010453,0.004132,0.013100,0.016667,0.019737,0.014085,0.004065
2019-12-27,0.008415,0.002128,0.069486,0.013937,0.004132,0.008734,0.008333,0.016447,0.010563,0.004065
2019-12-30,0.007013,0.002132,0.060423,0.003484,0.004149,0.008734,0.008333,0.019737,0.007042,0.004082
2019-12-31,0.007022,0.000000,0.048338,0.006969,0.000000,0.013100,0.008333,0.019737,0.007042,0.004082

In [159]:
rate(season, kozak_season)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.016260,0.004785,0.029661,0.026087,0.034934,0.024735,0.063973,0.055000,0.043233,0.029894
2005-01-04,0.016260,0.009569,0.008475,0.034783,0.034934,0.031802,0.070707,0.052500,0.071429,0.028930
2005-01-05,0.008130,0.033493,0.025424,0.039130,0.043668,0.028269,0.070707,0.067500,0.073308,0.032787
2005-01-06,0.012195,0.028708,0.033898,0.026087,0.039301,0.028269,0.084175,0.082500,0.073446,0.044359
2005-01-07,0.024390,0.019139,0.042553,0.034783,0.026201,0.042403,0.074074,0.080000,0.075472,0.041506
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.002710,0.012821,0.012766,0.009302,0.015544,0.009524,0.008658,0.013636,0.011236,0.006494
2019-12-26,0.002703,0.012821,0.008511,0.009302,0.015544,0.004762,0.008658,0.013636,0.011236,0.010823
2019-12-27,0.002703,0.012821,0.004255,0.013953,0.015544,0.004762,0.004329,0.004545,0.007491,0.008658
2019-12-30,0.002710,0.012821,0.004255,0.009302,0.015544,0.004762,0.004329,0.004545,0.007491,0.008658
2019-12-31,0.002717,0.012821,0.004255,0.009302,0.015544,0.004762,0.000000,0.004545,0.003745,0.008658

In [160]:
rate(sgrowth, kozak_sgrowth)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.003984,0.006329,0.012012,0.021583,0.012931,0.023585,0.016807,0.019380,0.020173,0.024155
2005-01-04,0.005976,0.006329,0.021021,0.021583,0.017241,0.014151,0.012605,0.007752,0.037464,0.030596
2005-01-05,0.013944,0.012658,0.018018,0.025180,0.017241,0.028302,0.016807,0.011628,0.037464,0.028986
2005-01-06,0.011952,0.018987,0.012012,0.032374,0.021552,0.023585,0.021008,0.042636,0.048991,0.038710
2005-01-07,0.007968,0.012658,0.024096,0.036101,0.025862,0.018868,0.008403,0.023256,0.051873,0.040323
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.004963,0.003953,0.000000,0.009709,0.010417,0.005181,0.016304,0.000000,0.004651,0.002439
2019-12-26,0.007444,0.003953,0.000000,0.004831,0.010417,0.010363,0.000000,0.000000,0.004651,0.004878
2019-12-27,0.007444,0.003953,0.000000,0.009662,0.015625,0.000000,0.000000,0.000000,0.004651,0.004878
2019-12-30,0.007444,0.003953,0.000000,0.004831,0.010417,0.000000,0.000000,0.000000,0.004651,0.002439
2019-12-31,0.007444,0.003953,0.000000,0.009709,0.010417,0.000000,0.000000,0.000000,0.004651,0.007317

In [161]:
rate(shortint, kozak_shortint)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.002513,0.000000,0.000000,0.00000,0.000000,0.000000,0.009740,0.006116,0.002016,0.102782
2005-01-04,0.002513,0.000000,0.000000,0.00000,0.000000,0.003745,0.009740,0.006116,0.002016,0.122102
2005-01-05,0.002513,0.000000,0.000000,0.00000,0.000000,0.003745,0.006494,0.006116,0.012097,0.134467
2005-01-06,0.005025,0.000000,0.000000,0.00000,0.000000,0.003745,0.009740,0.009174,0.008065,0.153787
2005-01-07,0.002513,0.000000,0.000000,0.00000,0.003788,0.000000,0.012987,0.006116,0.004032,0.156878
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.003333,0.002725,0.000000,0.00365,0.000000,0.000000,0.003584,0.003472,0.017094,0.054990
2019-12-26,0.003333,0.002725,0.000000,0.00365,0.000000,0.000000,0.003584,0.003472,0.017094,0.059063
2019-12-27,0.003333,0.002725,0.000000,0.00365,0.000000,0.000000,0.003584,0.006944,0.014957,0.044807
2019-12-30,0.003333,0.002732,0.003356,0.00365,0.000000,0.000000,0.003584,0.003472,0.012821,0.032587
2019-12-31,0.003333,0.002732,0.003356,0.00365,0.000000,0.000000,0.003584,0.003472,0.014957,0.034694

In [162]:
rate(shvol, kozak_shvol)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.001506,0.002494,0.000000,0.000000,0.006601,0.000000,0.000000,0.000000,0.009029,0.126749
2005-01-04,0.001506,0.002494,0.002639,0.003030,0.003300,0.000000,0.009375,0.002967,0.011287,0.140625
2005-01-05,0.001506,0.004988,0.000000,0.003030,0.003300,0.000000,0.009375,0.005935,0.009029,0.155428
2005-01-06,0.001506,0.004988,0.000000,0.000000,0.006601,0.003185,0.006250,0.008902,0.013575,0.172697
2005-01-07,0.001508,0.005000,0.005277,0.003030,0.006601,0.000000,0.006250,0.005935,0.015873,0.177778
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.002755,0.000000,0.000000,0.003521,0.004000,0.016949,0.010830,0.007353,0.012308,0.047201
2019-12-26,0.002755,0.000000,0.000000,0.003521,0.000000,0.016949,0.007220,0.007353,0.015385,0.053787
2019-12-27,0.002755,0.000000,0.000000,0.003521,0.004000,0.016949,0.007220,0.007353,0.015385,0.040615
2019-12-30,0.000000,0.000000,0.000000,0.007042,0.000000,0.016949,0.007220,0.007353,0.012308,0.032931
2019-12-31,0.000000,0.000000,0.000000,0.003521,0.004000,0.021186,0.007220,0.007353,0.012346,0.027442

In [163]:
rate(size, kozak_size)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.0,0.0,0.0,0.0,0.000000,0.004167,0.000000,0.002985,0.001704,0.070679
2005-01-04,0.0,0.0,0.0,0.0,0.000000,0.004167,0.000000,0.002985,0.001704,0.082042
2005-01-05,0.0,0.0,0.0,0.0,0.000000,0.004167,0.000000,0.002985,0.001704,0.089790
2005-01-06,0.0,0.0,0.0,0.0,0.000000,0.004167,0.000000,0.002985,0.000000,0.100775
2005-01-07,0.0,0.0,0.0,0.0,0.004673,0.004167,0.000000,0.002985,0.001704,0.103653
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.0,0.0,0.0,0.0,0.004386,0.000000,0.003497,0.009464,0.020661,0.030172
2019-12-26,0.0,0.0,0.0,0.0,0.004386,0.000000,0.003497,0.012618,0.016529,0.036176
2019-12-27,0.0,0.0,0.0,0.0,0.004386,0.000000,0.003497,0.012618,0.020661,0.024978
2019-12-30,0.0,0.0,0.0,0.0,0.004386,0.000000,0.003497,0.012658,0.008264,0.022414
2019-12-31,0.0,0.0,0.0,0.0,0.004386,0.000000,0.003497,0.012658,0.010331,0.022433

In [164]:
rate(sp, kozak_sp)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.023148,0.053691,0.059361,0.047486,0.006349,0.010753,0.022727,0.040000,0.015723,0.046632
2005-01-04,0.025926,0.060403,0.057078,0.064246,0.009524,0.010753,0.015152,0.033846,0.056604,0.049223
2005-01-05,0.030556,0.057047,0.086758,0.053073,0.015873,0.021505,0.018939,0.030769,0.056604,0.049223
2005-01-06,0.031481,0.077181,0.079909,0.064246,0.019048,0.017921,0.022727,0.067692,0.047170,0.067532
2005-01-07,0.034259,0.062081,0.070938,0.075419,0.028571,0.021505,0.030418,0.040000,0.069182,0.072917
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.023981,0.018779,0.016287,0.003704,0.004202,0.004717,0.008658,0.000000,0.003817,0.003861
2019-12-26,0.026379,0.016432,0.019544,0.003704,0.004202,0.004717,0.004329,0.000000,0.000000,0.000000
2019-12-27,0.026379,0.016432,0.009772,0.003704,0.000000,0.000000,0.000000,0.000000,0.003817,0.000000
2019-12-30,0.017986,0.014085,0.009772,0.000000,0.000000,0.004717,0.000000,0.000000,0.000000,0.000000
2019-12-31,0.021583,0.016432,0.006515,0.003717,0.000000,0.000000,0.000000,0.003876,0.000000,0.000000

In [165]:
rate(strev, kozak_strev)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.012022,0.017893,0.016484,0.036723,0.020896,0.055866,0.058047,0.035714,0.067594,0.034003
2005-01-04,0.017486,0.023857,0.024725,0.053672,0.023881,0.050279,0.052770,0.048469,0.075547,0.038580
2005-01-05,0.019672,0.019881,0.030220,0.031073,0.026866,0.055866,0.084433,0.053571,0.081511,0.044753
2005-01-06,0.027352,0.021869,0.043956,0.039548,0.026866,0.061453,0.076517,0.061224,0.077535,0.055556
2005-01-07,0.028478,0.039761,0.038462,0.045198,0.032836,0.067039,0.076720,0.048469,0.081511,0.051084
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.001848,0.003215,0.000000,0.013746,0.016892,0.010490,0.104396,0.025806,0.000000,0.001821
2019-12-26,0.000000,0.003215,0.000000,0.020619,0.013514,0.013986,0.107143,0.025806,0.002994,0.003643
2019-12-27,0.000000,0.003215,0.000000,0.010309,0.016892,0.013986,0.087912,0.022581,0.002994,0.000000
2019-12-30,0.001848,0.003215,0.000000,0.010309,0.010135,0.013986,0.071823,0.022581,0.002994,0.001825
2019-12-31,0.000000,0.003215,0.000000,0.010309,0.013514,0.010490,0.069252,0.019355,0.000000,0.001825

In [166]:
rate(sue, kozak_sue)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.041379,0.035461,0.023256,0.023810,0.026087,0.016667,0.008621,0.022901,0.015152,0.031056
2005-01-04,0.034483,0.035461,0.031008,0.023810,0.043478,0.025000,0.000000,0.030534,0.022727,0.037267
2005-01-05,0.062069,0.028369,0.046512,0.031746,0.060870,0.033333,0.025862,0.038168,0.022727,0.049689
2005-01-06,0.048276,0.028369,0.046512,0.039683,0.060870,0.033333,0.034483,0.022901,0.030303,0.043478
2005-01-07,0.048276,0.035461,0.031008,0.023810,0.086957,0.041667,0.025862,0.030534,0.030303,0.043478
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.011628,0.010526,0.021739,0.025000,0.012987,0.000000,0.000000,0.019048,0.000000,0.000000
2019-12-26,0.011628,0.010526,0.021739,0.025000,0.000000,0.000000,0.009091,0.009524,0.007576,0.000000
2019-12-27,0.011628,0.000000,0.021739,0.025000,0.012987,0.000000,0.009091,0.009524,0.000000,0.000000
2019-12-30,0.011628,0.000000,0.021739,0.025000,0.012987,0.000000,0.000000,0.009524,0.000000,0.000000
2019-12-31,0.011628,0.000000,0.021739,0.025000,0.012987,0.000000,0.000000,0.009524,0.015152,0.000000

In [167]:
rate(valmom, kozak_valmom)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.006757,0.007722,0.015385,0.006601,0.021277,0.017167,0.009615,0.026316,0.004673,0.013514
2005-01-04,0.009009,0.003861,0.011538,0.003300,0.031915,0.021459,0.014423,0.015789,0.032710,0.018018
2005-01-05,0.004505,0.007722,0.023077,0.013201,0.039007,0.034335,0.014423,0.026316,0.018692,0.018018
2005-01-06,0.013514,0.007722,0.015385,0.019802,0.035461,0.030043,0.028846,0.047368,0.018692,0.013514
2005-01-07,0.011261,0.003861,0.019231,0.026403,0.031915,0.051502,0.019231,0.042105,0.023364,0.009009
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.000000,0.006329,0.010417,0.000000,0.000000,0.037975,0.049261,0.005525
2019-12-26,0.000000,0.000000,0.005747,0.000000,0.000000,0.000000,0.000000,0.037975,0.054187,0.005525
2019-12-27,0.000000,0.000000,0.005747,0.000000,0.000000,0.000000,0.005917,0.037975,0.049261,0.005525
2019-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029536,0.029557,0.005525
2019-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005917,0.033755,0.039409,0.005525

In [168]:
rate(valmomprof, kozak_valmomprof)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.008696,0.007605,0.012397,0.013889,0.013636,0.015152,0.008811,0.008403,0.008889,0.021212
2005-01-04,0.014493,0.003802,0.008264,0.013889,0.004545,0.025253,0.017621,0.021008,0.013333,0.027273
2005-01-05,0.014493,0.003802,0.016529,0.023148,0.018182,0.005051,0.017621,0.016807,0.022222,0.039394
2005-01-06,0.014493,0.011407,0.028926,0.018519,0.018182,0.015152,0.030837,0.029412,0.004444,0.045455
2005-01-07,0.011594,0.007605,0.037190,0.023148,0.027273,0.030303,0.022026,0.046218,0.013333,0.024242
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.005236,0.000000,0.019108,0.013605,0.020833,0.012121,0.004854,0.005348,0.000000
2019-12-26,0.005236,0.000000,0.000000,0.012739,0.013605,0.015625,0.006061,0.004854,0.000000,0.000000
2019-12-27,0.005236,0.000000,0.000000,0.012739,0.020408,0.015625,0.006061,0.004854,0.005348,0.000000
2019-12-30,0.000000,0.000000,0.000000,0.006369,0.013605,0.015625,0.006061,0.004854,0.000000,0.000000
2019-12-31,0.000000,0.005236,0.000000,0.006369,0.013605,0.020833,0.006061,0.004854,0.000000,0.000000

In [169]:
rate(valprof, kozak_valprof)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.010363,0.003559,0.000000,0.004545,0.007491,0.022727,0.003448,0.014164,0.030556,0.033259
2005-01-04,0.010363,0.014235,0.007576,0.009091,0.014981,0.018939,0.003448,0.014164,0.030556,0.039911
2005-01-05,0.012953,0.010676,0.007576,0.009091,0.007491,0.022727,0.010345,0.022663,0.022222,0.057650
2005-01-06,0.010363,0.014235,0.015152,0.004545,0.022472,0.030303,0.017301,0.031161,0.055556,0.055432
2005-01-07,0.012953,0.014235,0.007576,0.022727,0.014981,0.011364,0.031142,0.028329,0.058659,0.053215
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.015000,0.014925,0.015385,0.009050,0.004785,0.004739,0.000000,0.006349
2019-12-26,0.008368,0.000000,0.005000,0.009950,0.015385,0.009009,0.004785,0.004739,0.000000,0.003175
2019-12-27,0.004184,0.000000,0.010000,0.009950,0.010256,0.009009,0.009569,0.004739,0.000000,0.003175
2019-12-30,0.000000,0.000000,0.005000,0.009950,0.010309,0.009009,0.004785,0.004739,0.004115,0.000000
2019-12-31,0.000000,0.000000,0.010000,0.014925,0.010309,0.009009,0.004785,0.004739,0.004132,0.003175

In [170]:
rate(value, kozak_value)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.006689,0.004728,0.012012,0.003003,0.003717,0.023438,0.010601,0.015504,0.029740,0.055385
2005-01-04,0.005017,0.007092,0.009009,0.003003,0.003717,0.023438,0.010601,0.023256,0.040892,0.073846
2005-01-05,0.008361,0.011820,0.009009,0.006006,0.000000,0.035156,0.024735,0.023256,0.026022,0.086154
2005-01-06,0.016722,0.014184,0.012012,0.012012,0.007435,0.031250,0.038869,0.027132,0.067164,0.070769
2005-01-07,0.008361,0.011820,0.009009,0.015060,0.007435,0.031250,0.031802,0.046512,0.063433,0.067901
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022305,0.027344,0.027668,0.007937
2019-12-26,0.003390,0.000000,0.000000,0.000000,0.004405,0.000000,0.018587,0.035156,0.019763,0.007937
2019-12-27,0.000000,0.000000,0.000000,0.000000,0.004405,0.000000,0.014870,0.031250,0.015810,0.015873
2019-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014925,0.015625,0.011905,0.011905
2019-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022388,0.023438,0.015936,0.011905

In [171]:
rate(valuem, kozak_valuem)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
2005-01-03,0.005128,0.004630,0.011527,0.009036,0.006135,0.010204,0.012346,0.016611,0.027027,0.051630
2005-01-04,0.008547,0.006944,0.005764,0.006024,0.009202,0.003401,0.027778,0.029900,0.027027,0.059783
2005-01-05,0.005128,0.009259,0.008646,0.024096,0.006135,0.013605,0.027778,0.023256,0.023649,0.078804
2005-01-06,0.017094,0.006944,0.011527,0.015060,0.012308,0.010204,0.043210,0.033223,0.043919,0.076087
2005-01-07,0.015385,0.009259,0.008671,0.012048,0.012308,0.017007,0.043210,0.036545,0.054237,0.067935
...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.003125,0.003436,0.000000,0.000000,0.003876,0.004608,0.007273,0.058997,0.028777,0.000000
2019-12-26,0.003125,0.006873,0.000000,0.000000,0.003876,0.004608,0.021818,0.058997,0.025180,0.000000
2019-12-27,0.000000,0.003436,0.000000,0.000000,0.003876,0.004608,0.021818,0.044248,0.025180,0.003922
2019-12-30,0.003125,0.003436,0.000000,0.000000,0.003876,0.004608,0.018248,0.035503,0.017986,0.003937
2019-12-31,0.000000,0.003436,0.000000,0.000000,0.003876,0.004608,0.018248,0.041543,0.017986,0.003937